<a href="https://colab.research.google.com/github/Kiranwaghmare123/Data-Analysis/blob/main/Sets_Dictionary_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sets: unordered collection data type that is iterable, mutable, and has no duplicate elements.
# Sets are identified by {} or set()
# based on data structure is hash table

In [ ]:
set_var = set()
set_var
print(type(set_var))

In [ ]:
set = {1,2,3,4,5}
set

In [ ]:
set = {'Krutika', 'Shivani','Div'}

In [ ]:
#Union, intersection, difference
set1 = {'Mango','Papaya','Apple'}
Set2 = {'Apple','Banana'}
Set3 = set1.union(Set2)
print(Set3)

{'Banana', 'Apple', 'Papaya', 'Mango'}

In [ ]:
set4 = set1.intersection(Set2)
set4

{'Apple'}

In [ ]:
set5 = Set2.difference(set1)
set5

{'Banana'}

In [ ]:
#Dictionary: it is a collection which is unordered, changable, and indexed.
# use {}
# pair of key-values

In [ ]:
dic = {}

In [ ]:
type(dic)

dict

In [ ]:
set = {1,2,3,4,5}
type(set)

set

In [ ]:
dict = {'a':1,'b':2,'c':3,'d':4}
dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
my_dict = {'car1':"Audi",'car2':"BMW",'car3':"Mercedez"}
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedez'}

In [ ]:
my_dict['car1']

'Audi'

In [ ]:
for x in my_dict:
    print(x)

car1
car2
car3

In [ ]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedez

In [ ]:
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercedez')

In [ ]:
#Ex:  Nested Dictionary

car1_model = {'Audi': 1960}
car2_model = {'BMW': 1970}
car3_model = {'Mercedez': 1980}

car_type = {'car1': car1_model,'car2':car2_model,'car3':car3_model}
car_type

{'car1': {'Audi': 1960}, 'car2': {'BMW': 1970}, 'car3': {'Mercedez': 1980}}

In [ ]:
#Tuple:()
#Tuple is immutable
my_tuple = tuple((1,2,3,4,5))
my_tuple

(1, 2, 3, 4, 5)

In [ ]:
my_tuple[0]

1

In [ ]:
my_tuple = ('Hello','World')
my_tuple

('Hello', 'World')

In [ ]:
type(my_tuple)

tuple